---
interface Props {
	href: string;
}

const { href } = Astro.props;
---

<div
	class="mr-3 h-18 w-18 hover:shadow-effect transition-shadow"
>
	<a
		href={href}
		target="_blank"
		class="flex h-full w-full items-center justify-center bg-stone-300
		p-4
		text-gray-900
    opacity-90
    dark:bg-stone-800
		dark:text-white"
	>
		<slot />
	</a>
</div>
